DB_CRUD_NAME=db_aplication
DB_CRUD_USER=your_user
DB_CRUD_PASSWORD=your_password
DB_CRUD_HOST=localhost
DB_CRUD_PORT=5432

DB_DEFAULT_NAME=postgres
DB_DEFAULT_USER=your_user
DB_DEFAULT_PASSWORD=your_password
DB_DEFAULT_HOST=localhost
DB_DEFAULT_PORT=5432